
[submodule "external/xtensor-fftw"]
	path = external/xtensor-fftw
	url = https://github.com/xtensor-stack/xtensor-fftw
[submodule "external/kfr"]
	path = external/kfr
	url = https://github.com/kfrlib/kfr.git
